<section class="vh-100" style="background-color: #3da2c3;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <p class="mb-2 text-center">
              <span class="h2 me-2">
                <i class="lni lni-check-box" style="size:70px"></i>
                To do List

              </span> </p>
            <p class="text-muted text-center pb-2">{{ LocalDate }}</p>

            <div class="input-group">
              <input type="text" class="form-control" placeholder="Add Task" aria-label="please add a new Task"  [(ngModel)]="newTodo">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="saveTodo()">Add</button>
              </div>
            </div>

            <table class="table mt-4">
              <tr *ngFor="let todo of todos; let i = index">
                <th scope="row">{{i+1}}</th>
                <td class="{{(!todo.IsCompleted)?'done':''}}" (click)="done(i)">{{todo.name}}</td>
                <td>
                  <button type="button" class="btn btn-secondary" (click)="removeTodo(i)">Delete</button>
                </td>
              </tr>
            </table>

            <div class="divider d-flex align-items-center my-4"></div>
            <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Designed and developed by Ismael Chavez © 2024</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>